/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/


.statusbar-overlay {
    background: #000000;
}
.list-block ul ul {padding-left:0px;}
::-webkit-scrollbar {display:none;}        
.list-block {width:100% !important;margin:0 !important;}
.loading-error {display:none !important;}
ul#rec-list {min-height:200px;width: 90% !important;}
#input-file {display:none;}
#alert {display:none;}
#banner {display:none;}
#output-file {display:none;}
.item-link {width:70%;}
.list-block ul { overflow: scroll;
    -webkit-overflow-scrolling: touch;}
#operations {max-height: 185px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 90px;
    left: 0;
    position: fixed;z-index:999;}
    .row .col-100  {border-top: 1px solid #ccc;}
    @media (min-width: 1281px) {
  
        .row .tablet-40  {margin-top:0;}
        .row .tablet-60  {margin-top:0;}
      }

#workspace-wrapper{width:100%;}
#rec-list li {display: inline-block;
    width: 80%;
   
    background: #fff;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
margin: 10px;
}
#save {display:none;}
#load {display:none;}
#step {display:none;}
#reset-layout {display:none;}
#save-to-file {display:none;}
#maximise-output {display:none;}
.btn .btn-default {display:none;}
.split-horizontal {border-top: 1px solid #ccc;}
.resizable {width:100%;min-height:200px;}
.io-info {display:none;}
#output-text {width:100%;min-height:200px;}
.navbar .left {display:none;}
/*.navbar, .subnavbar, .toolbar {background:#fff;}*/
#show-file-overlay {display:none;}
#stale-indicator {display:none;}
.category {display:inline-block;}
#categories li {font-size:1.2em;padding:10px;}
.category-title {width: 100%; text-align: center;}
#categories {overflow:scroll;-webkit-overflow-scrolling: touch;position:absolute;width: 100%;
    float: left;
    }
#edit-favourites {display:none;}
a.category-title {font-weight:bold;font-size:1.2em;padding:10px;}
.page-content {background:#f4f4f4;}

.accordion-item {text-align:left;}
   
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  { 
    #rec-list li {margin-left:0;}
    ul#rec-list {min-height:380px;}

}


.collapse {display:none;}
.collapse.in {display:block;}
.picker-modal {background:#f4f4f4;}
.content-block {width:100%;}
.accordion-item a {color: #6d6d72;
    margin: 35px 15px 10px;
    line-height: 17px;}
    @media (max-width: 360px) { body {zoom:1;} }
    .donate {text-align: center;
        color: #212121;
        font-size: 1em;
        font-weight: bolder;}
        .block-strong a {display:inline-block;}
        .links-list li {display:block;}

        .center .sliding {margin-left:100px !important;}
#add {color:#fff;right:20px;top:5px;}
.navbar-through .page>.searchbar {display:none;}
.toolbar  {margin-top:56px;}
.item-title .addme:active { 
    background-color: yellow;
}
.button.button-fill.color-white {
    
    color: rgba(0,0,0,.54);
}
/* Chat */ 
.messagebar .toolbar-inner {position:fixed;}
.page .smart-select-page .toolbar{position:fixed;}
.navbar-fixed .page-content {padding-bottom:20px;}
.page .smart-select-page .toolbar {margin-top:0px !important;}
.chat-message .clearfix {width:100%;}
.messagebar-area{width:100%;}
#message-to-send {height: 40px;
    color: #333;
    font-size: 16px;
    border:0px; 
    line-height: 22px;
    width: 80%;
  
#sendMessage {width:100%}
    .message-send-button {-webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 16px;
        min-width: 48px;
        line-height: 48px;
        height: 48px;
        background: #fff;
        border: 0px;}
        .send-link {background: #fff;
    border: 0px;
    width: 18%;
    height: 40px;}